<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{- $color := site.Params.color | default "lime" }}
{{- $cssPath := printf "css/pico.classless.%s.min.css" $color }}
{{- with resources.Get $cssPath }}
  {{- with . | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" />
  {{- end }}
{{- end }}


<link rel="stylesheet" href="/style.css" />
<style>
  body {
    max-width: 40rem;
    margin: 0 auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  time {
    display: block;
    font-size: smaller;
    color: var(--pico-secondary);
  }

  h1 + time {
    margin-bottom: 1rem;
  }

  .latest-posts {
    padding: 0;
    margin: 0;

    time {
      min-width: 6rem;
    }

    li {
      gap: 1rem;
      display: flex;
      align-items: baseline;
    }
  }

  .terms {
    display: flex;
    gap: 0.5rem;
    padding: 0;
    margin: 0;

    li {
      list-style: none;
    }
  }

  footer {
    font-size: smaller;
  }
</style>
